<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Vets</title>
  </head>

  <body>
    <h2 th:text="'Veterinarians'">TEXT</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="vet : ${vets}">
          <td th:text="${vet.id}">TEXT</td>
          <td th:text="${vet.firstName}">TEXT</td>
          <td th:text="${vet.lastName}">TEXT</td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
